/*Si la pantalla es mas pequeña cambian estas propiedades*/
@media (max-width: 768px) {
    .content-faq-map{
    width: 100%;
    display: flex;
    flex-direction: column;
    }
    nav ul{
        font-size: 16px;
    }
    nav{
        padding:8px 8%;
    }
    /*hero*/
    .hero{
        padding: 20% 8%;
        height:calc(60vh - 80px);
    }
    /*Parrafo de hero*/
    .hero p{
            margin-bottom:5%;
        }
    /*h1 de hero*/
    .hero h1{
        margin-bottom:10%;
    }

    footer {
        padding: 40px 6% 0;
    }

    .footer-grid {
        gap: 30px;
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }
}

@media (max-width: 730px) {
   /*Texto al lado del logo del header*/
    nav{
        padding:8px 8%;
    }
    .nav-links {
        display: none;
    }
    .hamburger {
        display: flex;
    }
    /*
    .overlay {
        display: block;
    }
    */
    .sidebar {
        display: flex;
        right: -280px;
    }
    .sidebar.active {
        right: 0;
    }

    /*hero*/
    .hero{
        background-image:none;
        padding: 10% 8%;
        height: 85%;
        }
    .card{
        box-shadow: 10px 10px 12px rgb(199, 199, 199);
    }
    .card:hover{
        transform: none;
    }
    .card-zapping{
        box-shadow: 10px 10px 12px rgb(172, 172, 170);
    }
    .card-zapping:hover{
        transform: none;
    }
    
    /*Contenedor de seccion de contacto*/
    .contacto{
        width: 100%;
    }
    /*Seccion de entrada de datos de contacto*/
    .faq{
        margin-bottom: 30px;
        width: 100%;
    }
    /*Parrafo de hero*/
    .hero p{
            margin-bottom:5%;
        }
    /*hq de hero*/
    .hero h1{
        margin-bottom:3%;
    }
}
@media (max-width: 390px){
    .iframe1{
       width:340px; height:320px;
    }
}

/*Si la altura excede esta cantidad de pixeles*/
@media (max-height: 390px){
    /*hero*/
    .hero{
        padding: 0% 8%;
        height: 100%;
    }
        
}
/*Si el ancho es menor a esta cantidad de pixeles*/
@media (min-width: 1300px){
    /*padding del cuerpo contenedor de la pagina*/
    body{
        background-color: #F5F5F7;
        padding: 0% 12%;        
    }

    /*Hero*/
    .hero{
        border-radius: 40px;
    }
    nav{
        height: 76px;
        padding: 1px 2%;
        margin-top:15px;
        box-shadow: 0px 18px 15px rgba(161, 161, 161, 0.26);
        border-radius: 22px;
    }
    footer {
        padding: 80px 8% 0;
    }
}
     